/***
font-family: 'Exo 2', sans-serif;
font-family: 'Varela Round', sans-serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Cairo', sans-serif;

*/

html {
  font-family: 'Varela Round', Georgia, "Times New Roman", serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Varela Round', Helvetica, Arial, sans-serif !important;
}

.sidebar-toggle:active, #sidebar-checkbox:focus ~ .sidebar-toggle, #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #17A398;
}

.container a, h1 {
  color: #17A398 !important;
}

.sidebar {
  background-color: #17A398 !important;
  font-family: 'Varela Round', Helvetica, Arial, sans-serif;
}

.pagination {
  font-family: 'Varela Round', Helvetica, Arial, sans-serif !important;
}

.sidebar-item-header {
  color: white !important;
}
